*.iml
.gradle
ForecastLotoApp//local.properties
ForecastLotoApp//.idea/workspace.xml
ForecastLotoApp//.idea/libraries
.DS_Store
/build
/captures

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.ipr
*.iws
app/build/

ForecastLotoApp/.idea/*.xml

!ForecastLotoApp/.idea/gradle.xml
!ForecastLotoApp/.idea/runConfigurations/*.xml